[submodule "utils/spdlog"]
	path = utils/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/utils/spdlog"]
	path = src/utils/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/utils/CLI11"]
	path = src/utils/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "src/utils/cereal"]
	path = src/utils/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "src/utils/sdsl-lite"]
	path = src/utils/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
[submodule "src/align/WFA2-lib"]
	path = src/align/WFA2-lib
	url = https://github.com/smarco/WFA2-lib
