[submodule "utils/spdlog"]
	path = utils/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = all
[submodule "src/utils/spdlog"]
	path = src/utils/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = all
[submodule "src/utils/CLI11"]
	path = src/utils/CLI11
	url = https://github.com/CLIUtils/CLI11.git
	ignore = all
[submodule "src/utils/cereal"]
	path = src/utils/cereal
	url = git@github.com:USCiLab/cereal.git
	ignore = all
[submodule "src/utils/sdsl-lite"]
	path = src/utils/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
	ignore = all
[submodule "src/align/WFA2-lib"]
	path = src/align/WFA2-lib
	url = https://github.com/smarco/WFA2-lib
	ignore = all
[submodule "submodule/cereal"]
	path = submodule/cereal
	url = https://github.com/USCiLab/cereal.git
	ignore = all
[submodule "submodule/WFA2-lib"]
	path = submodule/WFA2-lib
	url = https://github.com/smarco/WFA2-lib.git
	ignore = all
[submodule "submodule/sdsl-lite"]
	path = submodule/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
	ignore = all
[submodule "submodule/CLI11"]
	path = submodule/CLI11
	url = https://github.com/CLIUtils/CLI11.git
	ignore = all
[submodule "submodule/spdlog"]
	path = submodule/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = all
[submodule "submodule/parlaylib"]
	path = submodule/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
	ignore = all
[submodule "submodule/xxHash"]
	path = submodule/xxHash
	url = https://github.com/Cyan4973/xxHash.git
	ignore = all
[submodule "benchmark/mafTools"]
	path = benchmark/mafTools
	url = https://github.com/dentearl/mafTools.git
[submodule "benchmark/sonLib"]
	path = benchmark/sonLib
	url = https://github.com/benedictpaten/sonLib.git
[submodule "benchmark/pinchesAndCacti"]
	path = benchmark/pinchesAndCacti
	url = https://github.com/benedictpaten/pinchesAndCacti.git
[submodule "benchmark/mwgAlignAnalysis"]
	path = benchmark/mwgAlignAnalysis
	url = https://github.com/dentearl/mwgAlignAnalysis.git
